@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
footer,main{
    margin-left: 68px;
    transition: all .5s ease;
}
main{
    margin-top: 1rem;
}

header{
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 100;
    transition: .5s;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header > .header-toggle{
    margin-left: 68px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .5s ease;
}
header > .header-logout{
    width: 16em;
    height: 35px;
    display: flex;
    overflow: hidden;
}

footer{
    width: auto;
    bottom: 0;
}

.sidebar{
    width: 68px;
    position: fixed;
    top: 0;
    height: 100vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s;
    z-index: 100;
}
.sidebar-header{
    height: 3rem;
}
.nav-bar{
    padding: 0.5rem;
    width: 100%;
}
.sidebar a{
    display: flex;
    justify-content: start;
    text-decoration: none;
}
.nav-title{
    display: none;
    margin-left: 2.5rem;
    transition: all .5s ease;
}
#check:checked ~ .sidebar{
    width: 200px;
    transition: all 0.5s ease;
}
#check:checked ~ .sidebar .sidebar-header, #check:checked ~ .sidebar .nav-title {
    display: block;
    transition: all .5s ease;
}
#check:checked ~ header > .header-toggle{
    margin-left: 200px;
    transition: all .5s ease;
}
#check:checked ~ footer, #check:checked ~ main{
    margin-left: 200px;
    transition: all .5s ease;
}
#check:checked ~ .sidebar .nav-title{
    background: none;
    box-shadow: none;
}
.nav-bar a{
    color: #000;
}
.active{
    background-color: azure;
}
.nav-link:hover > a > .nav-title{
    display: flex;
    position: absolute;
    z-index: 101;
    width: 5.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    height: 3rem;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.shadowed-1{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cursor-pointer{
    cursor: pointer;
}
.mr-1{
    margin-right: 10px;
}
.cusor{
    cursor: pointer;
}

img.ui-datepicker-trigger{
    position: absolute;
    top: 4px;
    width: 30px;
    height: 30px;
}

#datepicker, #eDatepicker{
    padding: 0.375rem 4rem;
}